.image {
  width: 40px;
  height: 40px;
  margin: 10px;
}

.box {
  width: 800px;
  height: 500px;
  background: #d8f9fa;
  border-radius: 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
}

.i {
  height: 45px;
  padding-left: 10px;
  padding-right: 10px;
  border: none;
  border-radius: 10px;
  font-size: large;
  background-color: transparent;
  transition: 0.3s ease-in-out;
}

.i:focus,
.i:hover,
.button:focus,
.button:hover {
  outline: none;
  animation-name: inputAnimation;
  animation-duration: 0.3s;
  box-shadow: 0px 0px 6px 6px rgba(128, 128, 128, 0.623);
}
@keyframes inputAnimation {
  0% {
    box-shadow: none;
  }
  100% {
    box-shadow: 0px 0px 6px 6px rgba(128, 128, 128, 0.623);
  }
}
.button {
  background-color: transparent;
  border: none;
  outline: none;
  margin-left: 6px;
  margin-right: 12px;
  border-radius: 10px;
  transition: 300ms ease-in-out;
}

input::-webkit-inner-spin-button,
input::-webkit-outer-spin-button {
  margin: 0;
}
