.image {
  width: 40px;
  height: 40px;
  margin: 10px;
}

.navBar {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.i {
  height: 45px;
  padding-left: 10px;
  padding-right: 10px;
  border: none;
  border-radius: 10px;
  font-size: large;
  background-color: transparent;
  transition: 0.3s ease-in-out;
}

.button:focus,
.button:hover,
.i:focus,
.i:hover {
  outline: none;
  animation-name: inputAnimation;
  animation-duration: 0.3s;
  box-shadow: 0px 0px 6px 6px rgba(128, 128, 128, 0.623);
  color: orangered;
}
@keyframes inputAnimation {
  0% {
    box-shadow: none;
  }
  100% {
    color: orangered;
    box-shadow: 0px 0px 6px 6px rgba(128, 128, 128, 0.623);
  }
}

.button {
  background-color: transparent;
  border: none;
  outline: none;
  margin-left: 6px;
  margin-right: 12px;
  border-radius: 10px;
  transition: 300ms ease-in-out;
}

::-webkit-scrollbar {
  display: none;
}

.itemText {
  width: calc(70%);
}

.sidebar{
  position: fixed;
  top: 50;
  left: 0;
  height: 100%;
  width: 250px;
  background-color: aqua;
}
.sidebarBtn{
  transition: ease-in-out 300ms;
}
.sidebarBtn:focus,
.sidebarBtn:hover {
  outline: none;
  animation-name: sidebarBtnAnimation;
  animation-duration: 0.3s;
  color: rgb(0, 136, 255);
}
@keyframes sidebarBtnAnimation {
  0% {
    color:#212529;
  }
  100% {
    color: rgb(0, 136, 255);
  }
}